.nav_bar{

}

.button_style{
  border: solid black;
  padding: 20px 50px 20px 50px;
  background-color: grey;
  text-decoration: none;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: black;

}

.current_page{
  border: solid black;
  padding: 20px 50px 20px 50px;
  background-color: white;
  text-decoration: none;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: black;

}


.nav_bar{
  border: 5px solid black;
  display: flex;
  justify-content: center;
  background-color: grey;
  padding: 15px;
  gap: 10px;
  max-width: 100%;
}

.jump_to_content{
  display: none;
}

.normal_img{
  width: 450px;
  border: 5px solid grey;
  margin: 15px;
  padding: 10px;
}

.normal_img:hover{
  opacity:0.5;
}

body{
  font-family: 'Space Mono', monospace;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto auto auto auto;
  grid-row-gap: 20px;
  font-size: 30px;
  color:black;

}

.item1{
  grid-row: 1;
  max-width: 100%;
  padding: 20px;
}

.item2{
  grid-row: 2;
  max-width: 100%;
  padding: 20px;
}

.item3{
  grid-row: 3;
  max-width: 100%;
  padding: 20px;
}

.item4{
  grid-row: 4;
  max-width: 100%;
  padding: 20px;
}


.gallery_section{
  background-image: url("../images/background.png");
  display:flex;
  flex-direction: column;
  align-items:stretch;
  gap: 10px;

}


#fade_header{
  animation: fadeIn 4s linear forwards;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100%{opacity:1;}
}


@media (prefers-reduced-motion) {
   #fade_header {animation: none;}
}
